body{
  width: 100%;
  position: relative;
  background-color: white;
}

.main{
  overflow-x: hidden;
}

.card-white {
  background: $white;
  box-shadow: 1px 1px 2px 3px #f3f1f1;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  position: relative;
  margin-top: 40px;
}

.footer {
  background-color: $white;
  padding: 28px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  border-top: 0.1px solid $peachy-orange;
}

.footer a{
  color: $orange;
}

.sign-out{
  position: relative;
  right: -80%;
  color: $gray;
  bottom: 10px;
}

.container{
  align:center;
  background-color:white;
  max-height: 100%;
  margin-top: 10px;
}

#empty{
  font-size: 24px;
}

#new-p {
  margin-bottom: 0;
}


.footer {
  background: #F4F4F4;
  color: rgba(0,0,0,0.3);
}

.sign_button {
  background: #F4F4F4;
  color: rgba(0,0,0,0.3);
  padding-top: 20px;
  border-bottom: 0.1px solid $peachy-orange;

}

.padding-bottom{
  padding-bottom: 130px;
}
