body{
  width: 100%;
  position: relative;
  background-color: white;
}

.main{
  overflow-x: hidden;
}

.card-white {
  background: $white;
  box-shadow: 1px 1px 2px 3px #f3f1f1;
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  position: relative;
}

.footer {
  background-color: $white;
  padding: 28px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  border-top: 0.1px solid $peachy-orange;
}

.footer a{
  color: $orange;
}

.sign-out{
  position: absolute;
  bottom: 94%;
  right: 4%;
  color: $gray;
}
