h1 {
  color: #FF7A00;
  font-family: Gloria Hallelujah;
  text-align: center;

}

#icon {
  height: 90px;
  align-items: center;
}

#container,  {
    align-items: center;
    width: 246px;
    height: 141px;
    display: flex;
        position: relative;

    left: -30px;


}

#boxes {
  width: 246px;
  overflow: auto;
      display: flex;

}

.card-body {
  color:grey;
  font-size: 29px;
  text-align: center;

}

.btn btn-primary {
  color:grey;
  margin: 5px;
  border-radius: 50px;
}

.form-control {
   border-radius: 50px;
}

