<div class='main'>
  <div class='banner'>
    <h1>Peachy Packing</h1>
  </div>
  <img class='peach' src="https://res.cloudinary.com/dmwnfqoel/image/upload/v1606754823/peach_tim4aw.png" alt="peach"/>
  <%=link_to new_user_session_path, style: 'text-decoration:none' do %>
    <div class='project-card'>
      <h2>Log In</h2>
    </div>
  <% end %>
  <br>
  <%=link_to new_user_registration_path, style: 'text-decoration:none' do %>
    <div class='project-card'>
      <h2>Sign up</h2>
    </div>
  <% end %>
</div>
