<%= simple_form_for(@project, remote: true) do |f| %>
    <%= f.input :name %>
     <div class="mt-3">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', home_path, class: 'btn btn-danger ml-2' %>
  </div>
  <% end %>

