<div class='main'>
  <div class='banner'>
    <h1>Peachy Packing</h1>
  </div>
  <img class='peach' src="https://res.cloudinary.com/dmwnfqoel/image/upload/v1606754823/peach_tim4aw.png" alt="peach"/>

  <%=link_to project_path(@project), style: 'text-decoration:none' do %>
    <div class='project-card'>
      <h2><%= @project.name %></h2>
    </div>
  <% end %>
</div>

