<h1>This is the index of projects and home</h1>

<br>
<br>

<div class="container">
<div class="cards">
    <p><strong>Project</strong><%= @project.name %></p>

    <p><strong>Box and items</strong><%= link_to 'Details', project_path(@project.id) %> |


