.delete {
  position: absolute;
  top: 8px;
  right: 8px;
}

.edit {
  position: absolute;
  top: 8px;
  right: 40px;
}

.box-card-item {
  padding: 0px;
}

#box-name {
  font-size: 20px;
}

#size-color {
  color: #9C9292;
  //margin-bottom: 0;
}

