.banner{
  background-color: $orange;
  height: 200px;
  position: relative;
  width: 100%;
  // overflow-x: hidden;
  // overflow-y: visible;
}

.banner h1{
  padding-top: 60px;
  padding-left: 30px;
}

.project-card{
  border: 0.5px solid $gray;
  text-align: center;
  margin: 0 auto;
  width: 200px;
  position: relative;
  bottom: 40px;
}

.peach{
  width: 500px;
  height: auto;
  position: relative;
  right: -30%;
  bottom: 100px;
}

